.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chartContainer {
  display: flex;
  justify-content: center;
  width: 80%;
}
.chart {
  max-width: 60rem;
  max-height: 30rem;
}
