.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 15rem;
  height: 100vh;
  border-right: 1px solid #eff0f4;
  padding: 0rem 1.5rem;
}
.containerTablet {
  width: 5rem;
}
.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
}
.headerTablet {
  justify-content: center;
}
.items {
  display: flex;
  flex-direction: column;
}
.itemsTablet {
  justify-content: center;
  align-items: center;
}
.items a {
  padding: 1rem 0rem;
}
.items a:hover {
  border-radius: 1rem;
}

/* .items button {
  transition: 0.3s ease-in;
} */

/* .items button[class="ant-btn ant-btn-text ant-btn-lg"]:hover {
  color: white;
} */

.items button[class="ant-btn ant-btn-text ant-btn-lg"]:focus {
  color: white;
}

.items a > button:hvoer {
  color: white;
  transition: none;
}
.activeItem {
  background: #3b548e;
  border-radius: 1rem;
}
.activeItem button {
  color: white;
}
.footerItems {
  margin-bottom: 1rem;
}
