.item {
  width: 35rem;
  margin-left: 3rem;
}

.colorGroup {
  display: flex !important;
  justify-content: space-evenly;
}
.btn {
  border-radius: 2rem !important;
  padding: 1rem;
  border: none !important;
}
.btn::before {
  content: none !important;
}
.blue {
  background-color: rgb(29, 155, 240) !important;
}

.yellow {
  background-color: rgb(255, 212, 0) !important;
}
.orange {
  background-color: rgb(255, 122, 0) !important;
}
.themeBtn {
  border-radius: 0.5rem !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 4rem !important;
  background-color: #3b548e !important;
  color: white !important;
}
.themeBtnLight {
  color: black !important;
  background-color: white !important;
  border: 1px solid #3b548e !important;
  border-left: 1px solid #3b548e !important;
}
